{% extends "base.html" %}

{% block title %}{% if request.resolver_match.url_name == "account_email" %}Manage Email Addresses{% elif request.resolver_match.url_name == "account_change_password" %}Change Your Password{% elif request.resolver_match.url_name == "account_set_password" %}Set a Password{% else %}My Account{% endif %} | Faaji & Brew AfroMart{% endblock %}
{% block meta_description %}{% if request.resolver_match.url_name == "account_email" %}Manage the email addresses linked to your Faaji & Brew AfroMart account.{% elif request.resolver_match.url_name == "account_change_password" %}Change the password for your Faaji & Brew AfroMart account.{% elif request.resolver_match.url_name == "account_set_password" %}Set a password for your Faaji & Brew AfroMart account.{% else %}Manage your Faaji & Brew AfroMart account.{% endif %}{% endblock %}

{% block content_before %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-7 col-lg-5">
            <div class="text-center mb-4">
                <span class="brand-monogram">F&B</span>
            </div>
            <div class="card border-0 shadow-sm p-4 p-md-5">
{% endblock %}

{% block content_after %}
            </div>
        </div>
    </div>
</div>
{% endblock %}