{% extends "base.html" %}

{% block title %}My Account | Faaji & Brew AfroMart{% endblock %}
{% block meta_description %}Sign in or create a Faaji & Brew AfroMart account.{% endblock %}

{% block content_before %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-7 col-lg-5">
            <div class="text-center mb-4">
                <span class="brand-monogram">F&B</span>
            </div>
            <div class="card border-0 shadow-sm p-4 p-md-5">
{% endblock %}

{% block content_after %}
            </div>
        </div>
    </div>
</div>
{% endblock %}